---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tag from "../../components/Tag.astro";
import { format } from "../../lib/utils";

export async function getStaticPaths() {
    const allPosts = await getCollection("blog");
    var posts = allPosts.filter((p) => !p.data.draft);
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout pageTitle={post.data.title}>
    <section class="space-y-6">
        <div class="space-y-3">
            <p class="text-2xl text-rainbow leading-relaxed">
                {post.data.title}
            </p>
            <p class="text-slate-700 dark:text-slate-300 font-mono">
                <time datetime={post.data.publishDate.toISOString()}>
                    {format(post.data.publishDate, "yyyy/MM/dd HH:mm:ss")}
                </time>
            </p>
            <div class="flex space-x-3">
                {post.data.tags.map((tag) => <Tag tag={tag} />)}
            </div>
        </div>
        <article class="prose dark:prose-invert">
            <Content />
        </article>
    </section>
</BaseLayout>
