---
import PostItem from "../components/PostItem.astro";
import Tag from "../components/Tag.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const pageTitle = "Home";
const allPosts = await getCollection("blog");
var posts = allPosts
    .filter((p) => !p.data.draft)
    .sort(
        (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
    );
const tags = [...new Set(posts.map((post) => post.data.tags).flat())].sort();
---

<BaseLayout pageTitle={pageTitle}>
    <div class="space-y-4">
        <section class="space-y-4">
            <p class="text-xl text-rainbow">Tags</p>
            <div class="flex flex-wrap items-center gap-2">
                {tags.map((tag) => <Tag tag={tag} />)}
            </div>
        </section>
        <section class="space-y-4">
            <p class="text-xl text-rainbow">Posts</p>
            {posts.map((post) => <PostItem post={post} />)}
        </section>
    </div>
</BaseLayout>
