---
import config from "../config.json";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="flex items-center h-28">
    <a class="text-3xl text-rainbow" href="/">{config.title}</a>
    <ul class="flex justify-end flex-1 space-x-6">
        <ThemeIcon />
    </ul>
</header>
