---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const { pageTitle } = Astro.props;
import config from "../config.json";
---

<html class="">
    <head>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content={config.author} />
        <meta name="description" content={config.description} />
        <meta name="robots" content="index, follow" />
        <title>{pageTitle + " | " + config.title}</title>
    </head>
    <body class="bg-white dark:bg-slate-900 dark:text-white font-sans">
        <div class="flex flex-col mx-auto max-w-screen-sm px-6 min-h-screen">
            <Header />
            <main class="flex-grow">
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>
